@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    body {
      background-image: url("../images/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
    }
    header{
      align-content: center;
    }
    .title{
      font-size: 250%;
    }
    
    .container{
        margin : auto;
        align-content: center;
        height: 70vh;
        width: 32%;
        border: 5px solid black;
        border-radius: 10%;
    }
    
    h1{
        color: '#000547';
        text-align: center;
    }
    
    img{
        margin : 10px 30px 10px 10px;
        height: 150px;
        width: 150px;
    }
    .main-div{
      padding: 30px;
      display: flex;
      flex-direction: row;
    }
    
    h2{
      color: '#000547';
      text-align: center;
    }
    
    button  {
        margin: 10px 0px 0px 100px;
        width: 200px;
        padding: 10px;
        background-color: rgb(6, 99, 202);
        font-size: 16px;
    }
}

@media screen and (max-device-width: 640px) {
  body {
    background: linear-gradient(to right , #08AAFF,#00FF6C);
  }
  header{
    align-content: center;
  }
  .title{
    font-size: 250%;
  }
  .container{
    margin : auto;
    margin-top: 150px;
    padding-bottom: 30px;
    align-content: center;
    text-align: center;  
    height: 40%;
    width: 80%;
    border: 5px solid black;
    border-radius: 10%;
  }

  h1{
      color: '#000547';
      text-align: center;
  }
  img{
    margin : 10px 30px 10px 10px;
    height: 300px;
    width: 300px;
  }
  .main-div{
    padding: 30px;
    display: flex;
    flex-direction: row;
  }
  h2{
    color: '#000547';
    text-align: center;
  }
  
  button  {
      width: 200px;
      padding: 10px;
      background-color: rgb(6, 99, 202);
      font-size: 16px;
  }
}
